.booking-details {
  height: 100vh;
  background-color: #fafafa;
}

.booking-details .icons-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 20pt 0pt;
}

.booking-details .scrollview {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30pt);
}

.booking-details .content {
  padding: 0pt 10pt;
  margin: 0pt 15pt;
  border-radius: 10pt;
  background-color: white;
}

.booking-details .content .services-content {
  margin: 5pt 0pt;
  padding: 0pt 10pt;
}

.booking-details .content .services-content .done-wrapper {
  margin: 10pt 0pt;
  display: flex;
  align-items: flex-start;
}
.booking-details .content .services-content .done-text {
  margin-left: 5pt;
  margin-top: 3pt;
}

.booking-details .content-footer {
  display: flex;
  justify-content: space-between;
  padding: 15pt 10pt;
}

.booking-details .content-footer .content-footer-button {
  display: flex;
}

.booking-details .content-footer .share-text {
  color: var(--primary-color);
}

.booking-details .content-footer .cancel-text {
  color: var(--error-color);
}
.booking-details .content-footer .cancel-text-disabled {
  color: var(--error-color);
  opacity: 0.5;
}
.booking-details .modal-dropdown-container {
  width: 100%;
}
.modal-dropdown-container .css-1uccc91-singleValue {
  font-size: 15px;
}
