.MuiTextField-root {
  width: 90%;
  height: 36pt;
}

.MuiOutlinedInput-root {
  width: 100%;
  height: 100%;
  border-radius: 16px !important;
}

.MuiInputBase-input {
  font-size: 14px !important;
}

.MuiOutlinedInput-notchedOutline {
  border: 1pt solid var(--border-light) !important;
}
